/* CSS stylesheet for Avengers Beekeeping Society */
  body{
    background-color: #f3ebd8;
  }
  h1 {
    color: #E1AC35;
    font-size: 3em;
    margin: 25px 50px 25px 25px;
    text-align: center;
    display:inline-block;

  }

  h2{
    color: rgb(76, 75, 75);
    font-size: 3ex;
    margin-top: 25px;
    display: inline;
  }

  h3{
    color: rgb(252, 200, 88);
    font-size: 1rem;
    border-style:dashed;
    border-color: chocolate;
    border-width:2px;
    border-radius: 3px;
  }

  body{
    color: black;
  }

  p{
    color: black;
    margin:auto;
    padding-bottom:5px;
  }


  div{
    font-size: 0.5cm;
    padding: 25px 50px 25px 25px;
    position: sticky;
  }

  span{
    font-size: 17Q;
    text-decoration: underline;
    
  }

  li{
    font-size:1pc;
    position: static;
  }

  button{
    height:10px;
    width:10px;
    max-width:10px;
    min-width: 10px;
  }